$background-color: #81B1AA;
$transparent-color: rgba(255, 255, 255, .7);
$lighter-color: #98E5FF;
$light-color2: #C0C8FF;
$contrast: #FF7671;
$yellow: #CC944E;
$transparent-yellow: rgba(255, 226, 95, .5);
