$background-color: rgba(255, 255, 255, .3);
$transparent-color: rgba(155, 227, 187, .20);
$lighter-color: #98E5FF;
$light-color2: #C0C8FF;
$contrast: #FF7671;
$yellow: rgb(222, 180, 64);
$transparent-yellow: rgba(230, 206, 240, .5);
