$background-color: rgba(219, 249, 255, 1);
$transparent-color: rgba(255, 255, 255, .20);
$lighter-color: #98E5FF;
$light-color2: #C0C8FF;
$contrast: #FF7671;
$yellow: rgb(222, 180, 64);
$transparent-yellow: rgba(255, 226, 95, .5);
