*, *:before, *:after {
  box-sizing: border-box;
}

body {
  width: 100vw;

  main {
    padding: 5vw;
    margin: 0 auto;
    width: 80vw;
  }
  .summary {
    margin-left: 5vw;
  }

  .game {
    background-color: $transparent-color;
    padding: 3vw;
    margin-bottom: 1em;
  }

  .thumb {
    width: 125px;
    height: 110px;
    overflow: hidden;
    img {
      float: left;
      margin-right: 2em;
      width: 125px;
    }
  }

  .show {
    height: 75vw;
  }

  .two {
    margin-left: 15vw;
  }

  .three {
    margin-left: 30vw;
  }

  .four {
    margin-left: 45vw;
  }

  .five {
    margin-left: 60vw;
  }
}
