*, *:before, *:after {
  box-sizing: border-box;
}

body {
  width: 100vw;
}

main {
  padding: 5vw;
  margin: 0 auto;
  width: 85vw;
}

section {
  position: relative;
}

header {
  height: 135px;
  position: relative;
}

.logo{
  position: relative;
  float: left;
  width: 125px;
  margin-right: 1em;
}

.game {
  background-color: $transparent-yellow;
  padding: 3vw;
  margin-bottom: 1em;
  border: 2px solid black;
}

.thumb {
  float: left;
  width: 125px;
  height: 110px;
  overflow: hidden;
  margin-right: 2em;
  img {
    width: 125px;
  }
}

.show {
  height: 70vh;
  margin: 5vh 0;
  border: 2px solid black;
}

.two {
  margin-left: 10vw;
}

.three {
  margin-left: 20vw;
}

.four {
  margin-left: 30vw;
}

.five {
  margin-left: 40vw;
}
