@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,100,900);

html {font-size: 1em;}

body {
  background-color: $transparent-yellow;
  font-family: Lato, sans-serif;
  font-weight: 300;
  line-height: 1.45;
  color: black;
}

a {
  color: $contrast;
  text-decoration: none;
}

p {margin-bottom: 1.3em;}

h1, h2, h4 {
  margin-bottom: 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

header{
  h1 {
    top: 85px;
    position: relative;
    font-size: 2.074em;
  }
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
}

h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.833em;}
