/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,100,900);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  width: 100vw; }

main {
  padding: 5vw;
  margin: 0 auto;
  width: 85vw; }

section {
  position: relative; }

header {
  height: 135px;
  position: relative; }

.logo {
  position: relative;
  float: left;
  width: 125px;
  margin-right: 1em; }

.game {
  padding: 3vw;
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1em;
  border: 2px solid black; }

.thumb {
  float: left;
  width: 125px;
  height: 100px;
  overflow: hidden;
  margin-right: 2em; }
  .thumb img {
    width: 125px; }

.show {
  height: 70vh;
  margin: 5vh 0;
  border: 2px solid black; }

.two {
  margin-left: 10vw; }

.three {
  margin-left: 20vw; }

.four {
  margin-left: 30vw; }

.five {
  margin-left: 40vw; }

html {
  font-size: 1em; }

body {
  background-color: #81B1AA;
  font-family: Lato, sans-serif;
  font-weight: 300;
  line-height: 1.45;
  color: black; }

a {
  color: #FF7671;
  text-decoration: none; }

p {
  margin-bottom: 1.3em; }

h1, h2, h4 {
  margin-bottom: 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  font-size: 2.074em; }

header h1 {
  top: 85px;
  position: relative;
  font-size: 2.074em; }

h2 {
  font-size: 1.728em; }

h3 {
  font-size: 1.44em;
  line-height: 2; }

h4 {
  font-size: 1.2em; }

small, .font_small {
  font-size: 0.833em; }

strong {
  color: #CC944E; }
