<main>
  <header>

    <img class="logo" src="/images/logo.png" alt="" />
    <h1><strong>Slaxophone Games</strong></h1>

  </header>

  <section>

{{#each docs}}
  <div class="game">
    <div class="thumb">
      <img src="{{round2}}" alt="" />
    </div>
    <h2><strong>From:</strong> <a href="/games/{{_id}}">{{round1}}</a></h2>
    <div class="summary">
      <h3><strong>to:</strong> {{round5}}</h3>
    </div>
  </div>

  </section>
{{/each}}

</main>
