<main>

  <h1>Slaxophone Games</h1>
  <img class="logo" src="/images/logo.png" alt="" />
  <section>

{{#each docs}}
  <div class="game">
    <div class="thumb">
      <img src="{{round2}}" alt="" />
    </div>
    <h2>From: <a href="/games/{{_id}}">{{round1}}</a></h2>
    <div class="summary">
      <h3>to: {{round5}}</h3>
    </div>
  </div>

  </section>
{{/each}}

</main>
