

<form action="/games/update" method="post">
  <label for="message">Message or image</label>
  <input type="text" name="message" id="message">
  <label for="next">email of next user</label>
  <input type="email" name="next" id="next">
  <input type="submit" value="Send">
</form>
